[2020-05-04 06:50] jeffcampbellmakesgames opened #1 "[FEATURE REQUEST] Add documentation for existing features"
**Is your feature request related to a problem? Please describe.**
As of right now, the only existing documentation for the ECS portions of EntitasRedux can be found by looking at the original Entitas wiki [here](https://github.com/sschmid/Entitas-CSharp/wiki). Even so, not every aspect of the original Entitas was covered. This can make it difficult for new users to jump in and understand EntitasR

[2020-05-04 07:07] jeffcampbellmakesgames opened #2 "[BUG] Component name collision on code generation"
**Describe the bug**

Two `Components` belonging to the same `Context` with the same short name, but different fully-qualified type names will result in a compilation error post-code generation since the `Entity`, `Matcher`, and `ComponentsLookup` member names for both will be the same.

**To Reproduce**
 1. Create two components with the same name, one in a global namespace and one in a custom na

[2020-05-04 07:31] jeffcampbellmakesgames opened #3 "[FEATURE REQUEST] Create and document process for estimating baseline performance for different platforms"
**Is your feature request related to a problem? Please describe.**

I'd like to get a better understanding of the strengths and limitations of EntitasRedux performance-wise to better advise users and test any changes/improvements. There are a suite of performance tests setup as a a unit test in the editor (only run manually as it takes several seconds to complete), but these are only helpful insof

[2020-05-04 07:37] jeffcampbellmakesgames opened #4 "[FEATURE REQUEST] Add create C# script file templates for systems"
**Is your feature request related to a problem? Please describe.**

It would be helpful for users to be able to create new components, indexes, or system scripts from the Unity Editor as a template.

**Describe the solution you'd like**
The user should be able to right-click in the **Project** window and select _EntitasRedux->Script Type_ to create a template version of that script.

An example of

[2020-05-04 08:38] jeffcampbellmakesgames opened #5 "[RESEARCH] Investigate Blueprints and determine best course of action"
**Is your feature request related to a problem? Please describe.**

Blueprints are a feature intended to make it easier to configure Entities in the Unity Editor much like you would a prefab, but are currently too problematic for a variety of reasons to include with the main library of EntitasRedux. There is value in being able to configure Entities in the Unity Editor directly without code or wit

[2020-05-06 07:47] jeffcampbellmakesgames opened #6 "[FEATURE REQUEST] Add capability for separate Update, LateUpdate, and FixedUpdate systems on same Systems"
**Is your feature request related to a problem? Please describe.**

As of right now, an `IExecuteSystem` and `Systems` offer a single `Execute` method. In the past, this has meant creating multiple contexts for executing at different update intervals such as `Update`, `FixedUpdate`, and `LateUpdate`. It might make more sense for `Systems` to instead have the ability for a user to also add a system

[2020-05-09 09:14] jeffcampbellmakesgames opened #7 "[RESEARCH] Investigate concrete support for other Unity callbacks for Entities"
**Is your feature request related to a problem? Please describe.**

There are many GameObject/MonoBehaviour oriented callbacks that would be useful for interacting with an Entity. This includes callbacks for collision (OnCollisionEnter/2D for example, the IPointer interface methods, triggers, etc...). As of right now, the best way to utilize these would be to create one or more MonoBehaviour deriv

[2020-05-15 06:48] jeffcampbellmakesgames commented on #6
Released in v1.1.0

[2020-05-15 06:48] #6 closed, assigned to jeffcampbellmakesgames

[2020-05-15 07:38] jeffcampbellmakesgames opened #8 "[FEATURE REQUEST] API for adding, replacing components should be extended"
**Is your feature request related to a problem? Please describe.**

Currently, the API for modifying components on an Entity involves passing all of the properties of that component into a method either adding that component or replacing an existing component.

![image](https://user-images.githubusercontent.com/1663648/82022971-cfdace80-968d-11ea-970f-753c3244ef79.png)

This works alright for comp

[2020-05-18 08:22] jeffcampbellmakesgames commented on #5
Thinking about this more while working on a side project, I'd also like to be able to scaffold systems grouped into a `Feature`by way of a code attribute and code generation. This would be allow me to easily define several `Feature`, nest them as appropriate under a `Systems` in a minimal bootstrap class, and then as those `Feature`grew I would no longer need to manually update the bootstrap class

[2020-06-17 08:44] jeffcampbellmakesgames commented on #1
I've added a wiki for the repo and stubbed out a lot of the topics needed to be covered here. I've also generated a static site for the scripting API that can be found [here](https://jeffcampbellmakesgames.github.io/Entitas-Redux-API/index.html).

[2020-06-19 08:13] jeffcampbellmakesgames commented on #1
Added documentation for contexts [here](https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Contexts) and added brief descriptions of each concept [here](https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Concepts).

[2020-07-22 11:59] jeffcampbellmakesgames opened #9 "[FEATURE REQUEST] Rename `has` bool property on entities, context to `Has`"
**Is your feature request related to a problem? Please describe.**
I recently noticed the code style was off for the `hasX` bool property on entities, contexts when it should reflect `HasX` to match the intended modern C# code style.

**Describe the solution you'd like**
This property should be renamed in code-gen and updated in example content, unit tests.

[2020-07-22 12:08] #9 closed, assigned to jeffcampbellmakesgames

[2020-07-25 14:21] jeffcampbellmakesgames commented on #4
This has been accomplished and merged into develop as of today.

[2020-07-25 14:21] #4 closed

[2020-07-26 16:00] jeffcampbellmakesgames commented on #2
This has been resolved and merged to develop as of today. If two or more components for a context have a duplicate name, either due to a default or custom name, a warning will be issued for each instance of duplicates found (one per multiple dupes) and finally an `DuplicateComponentNameException` will be thrown to prevent code generation from occurring.

[2020-07-26 16:00] #2 closed

[2020-07-27 12:16] jeffcampbellmakesgames commented on #5
Couple of reference links for better polymorphism support for POCO types in Unity 2019.3 and later

* https://docs.unity3d.com/2019.3/Documentation/ScriptReference/SerializeReference.html
* https://forum.unity.com/threads/serializereference-attribute.678868/
* https://medium.com/@trepala.aleksander/serializereference-in-unity-b4ee10274f48

[2020-08-04 12:42] HollowGraphic opened #10 "Genesis error when trying to use Events"
Adding `[Event()]` attribute to any component causes Genesis to fail with an error stating "Value cannot be null. Parameter name: element"

[2020-08-04 13:04] jeffcampbellmakesgames commented on #10
What is the full type for `[Event()]`? Is this related to **EntitasRedux**? I'm wondering if this is supposed to be an issue on the **Unity COC** library, **Genesis**, or **EntitasRedux**

[2020-08-04 13:07] jeffcampbellmakesgames commented on #10
I don't believe **COC** uses **Genesis**, which makes me think this issue might belong on a different repository.

[2020-08-04 13:22] HollowGraphic commented on #10
`JCMG.EntitasRedux.EventAttribute` is the full type

[2020-08-04 13:23] jeffcampbellmakesgames commented on #10
Cool, thanks @HollowGraphic! I will transfer this issue to that repository and take a look later today. Thanks for reporting!

[2020-08-04 14:55] jeffcampbellmakesgames commented on #10
@HollowGraphic Can you post an example of the component that's experiencing this issue with the full stacktrace of the error please? I see that there is an event component example and when testing code-generation currently this does not result in any issues.

[2020-08-04 15:08] HollowGraphic commented on #10
`             [Event(EventTarget.Self, EventType.Added)]
             [Event(EventTarget.Self, EventType.Removed)]
             [Game]
             public class Active : IComponent { }`

Trace:

- [JCMG.Genesis.Editor.UnityCodeGenerator] [Genesis] Code generation failed, process exited with code {0}.
  at JCMG.Genesis.Editor.UnityLogger.Log (JCMG.Genesis.Editor.LogLevel logLvl, System.String messa

[2020-08-04 17:24] jeffcampbellmakesgames commented on #10
I can see two issues here:

* The Genesis code generation library doesn't give enough information to act on when an exception in a code generator occurs. https://github.com/jeffcampbellmakesgames/Genesis/issues/4 has been created to handle this.
* There is an bug retrieving component names for a validation step where the component type did not previously exist.

The fix for this should be pretty s

[2020-08-04 17:29] HollowGraphic commented on #10
Sweet, I'll keep an eye out

[2020-08-05 11:09] jeffcampbellmakesgames commented on #10
Both of these issues have been resolved for Genesis and EntitasRedux and a new version v1.2.2 is available that should resolve these issues. Let me know how this works for you!

[2020-08-05 14:42] HollowGraphic commented on #10
Awesome, I'll keep you posted.

[2020-08-08 09:09] HollowGraphic commented on #10
No errors. All event systems and components are being generated.

[2020-08-08 11:20] HollowGraphic opened #11 "[FEATURE REQUEST] Executing code generation using `CleanupAttribute` on a component generates a system"
Genesis does not generate cleanup systems for components that use the `Cleanup` attribute, regardless of what options are used `(CleanupMode.RemoveComponent, CleanupMode.DestroyEntity)`.
Genesis does not give an error.
Unity 2020.1.0f1

[2020-08-09 18:33] jeffcampbellmakesgames commented on #10
Excellent. I am closing this out as complete then.

[2020-08-09 18:33] #10 closed, assigned to jeffcampbellmakesgames

[2020-08-09 19:11] jeffcampbellmakesgames commented on #11
I believe the ability to generate a `Cleanup` system via code-generation was restricted to the paid version of Entitas as noted [here](https://github.com/sschmid/Entitas-CSharp/wiki/Attributes#cleanup-asset-store-only) on the original Wiki. Since EntitasRedux is based on the free open source version which does contain the `CleanupAttribute.cs` file, but not the code-generation logic for the system

[2020-08-09 19:39] jeffcampbellmakesgames commented on #5
`[SerializeReference]` does seem to work well for polymorphic types where the common implementing type is `IComponent`. To easily enable inspector support for blueprints in the editor, I'm likely going to be refactoring some of the inspector/drawer code into the core `EntitasRedux.Editor` assembly so that multiple modules (visual debugging, blueprints) can both have access to that functionality wi

[2020-08-09 19:42] jeffcampbellmakesgames commented on #5
I may want to limit the amount of inspectable/addable types on a blueprint to only those that Unity can serialize as there is inspector support for some types that aren't supported for native serialization by the Unity Editor (looking at you `Dictionary<T, TV>`).

[2020-08-10 07:18] HollowGraphic commented on #11
Sounds legit to me.

[2020-08-10 07:39] HollowGraphic opened #12 "[FEATURE REQUEST] Configure Systems and Features through the inspector"
**Is your feature request related to a problem? Please describe.**
Setting up systems through code is all fine and dandy, but being able to set them up through the Unity inspector would be handy. This can be done with most systems (`IUpdate`, `ILateUpdate`, etc) by using an `IInitialize `interface to set up the system. Reactive systems are a different story. One of the main driving forces behind a

[2020-08-10 12:13] jeffcampbellmakesgames commented on #12
I've also been thinking about easier ways for setting up systems without manually requiring a developer to explicitly add them in code. Part of this comes from the fact that much of the code-generated framework for  **EntitasRedux** and **Entitas** is seamless for entities, components in a way that does away much of the boilerplate work a developer would normally need to do by hand. Systems in gen

[2020-08-13 12:28] jeffcampbellmakesgames commented on #11
Getting closer to finishing this up, just a bit more testing to go through. In it's current form, creating a component (in this case named `Destroyed` decorated with a `Cleanup` attribute (or two) like so:

[code]

results in two files being created at Generated/Cleanup/Systems named:

* `DestroyVisualDebugEntitiesWithDestroyedSystem.cs`
* `RemoveDestroyedFromVisualDebugEntitiesSystem.cs`

where t

[2020-08-13 12:30] jeffcampbellmakesgames commented on #11
@HollowGraphic As far as an ETA, I'll likely have a branch with this work pushed up to github by this weekend at which point it would be helpful if you could check it out and test it yourself before a release is cut, otherwise I will likely cut a new release next week.

[2020-08-13 14:15] HollowGraphic commented on #11
I'll test it as soon as I can.

[2020-08-14 12:28] jeffcampbellmakesgames commented on #11
This feature is now available for testing on the `feat/cleanup_system_code_generation` branch of this repository. The example content has been updated to include two new components whose `CleanupAttribute` decorations will result in new systems when code generation takes place.

* `AnCleanupRemoveComponent` is decorated with `[Cleanup(CleanupMode.RemoveComponent)]` and will result in a new `IClean

[2020-08-15 22:09] jeffcampbellmakesgames commented on #5
Making some progress on this; each context now gets their own `Monobehaviour`-derived blueprint class which using a single inspector can show a list of `IComponent` and I have some WIP code enabling popup selection of serializable components specific to that context for adding to that list.

![image](https://user-images.githubusercontent.com/1663648/90322460-9d729300-df54-11ea-8c6c-bdb1e7d42bd6.pn

[2020-08-16 15:03] jeffcampbellmakesgames commented on #5
Making progress refactoring the previously existing component/type drawer functionality used for visual debugging so that a developer can design what components should exist for an entity or entities based on a blueprint.

![BlueprintInspectorWIP](https://user-images.githubusercontent.com/1663648/90337363-5206c600-dfe2-11ea-9765-2daaf4a5c046.gif)

[2020-08-17 12:37] jeffcampbellmakesgames commented on #5
Refactored the inspector logic for the blueprint `Monobehaviour` so it could easily be reused and setup code gen to support both a `Monobehaviour`-based blueprint as well as a `ScriptableObject`-based blueprint.

* `BlueprintBehaviour` => Derives from `MonoBehaviour`
* `Blueprint` => Derives from `ScriptableObject`

![image](https://user-images.githubusercontent.com/1663648/90396751-0c580500-e097-

[2020-08-18 05:27] HollowGraphic commented on #11
Hmm, I don't see the branch. Not sure if I'm doing something wrong.

[2020-08-18 11:02] jeffcampbellmakesgames commented on #11
Weird, I could have swore I pushed this up last week. In any case, the branch is now pushed up on Github

[2020-08-18 12:29] jeffcampbellmakesgames commented on #5
Now that there is a solid base for adding/removing components on a blueprint, taking a look at what would be needed to apply those to a component. The goal here is not that these components are used directly, but instead act as the _blueprint_ for components to be set/replaced onto an entity.

`ComponentLookup` now has a dictionary lookup of component type to index to make it easier to get the app

[2020-08-19 04:19] HollowGraphic commented on #11
So I tested the branch in 2020.1.0f1 and it all looks good.

[2020-08-19 12:11] jeffcampbellmakesgames commented on #11
This feature has been merged to develop and included in release v1.2.3 found [here](https://github.com/jeffcampbellmakesgames/Entitas-Redux/releases/tag/upm%2Fv1.2.3). If using OpenUPM, please update to the latest version of the package.

[2020-08-19 12:11] #11 closed, assigned to jeffcampbellmakesgames

[2020-08-19 12:17] jeffcampbellmakesgames opened #13 "[FEATURE REQUEST] Create release checklist"
**Is your feature request related to a problem? Please describe.**
When making a release, I usually pick up on the fly which steps to go through based on previous experience. Sometimes I forget a step or tag a release incorrectly such that UPM doesn't pick it up.

**Describe the solution you'd like**
I'd like to formalize a release checklist on the wiki to make it easier to remember the steps to g

[2020-08-19 12:33] jeffcampbellmakesgames opened #14 "[FEATURE REQUEST] Investigate interface code generated by Event system for improvements"
**Is your feature request related to a problem? Please describe.**
When documenting usage of the `[Event]` attribute recently I noticed that the listener interface method could be clearer.

**Example Event Component**
[code]

**Example Listener Interfaces Generated**
[code]

**Describe the solution you'd like**
I'd like to change the generated interface for the `Added` event to be something more l

[2020-08-19 12:45] jeffcampbellmakesgames commented on #1
Added a bunch more documentation for various component attributes and code gen [here](https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Components).

[2020-08-21 01:06] jeffcampbellmakesgames opened #15 "[FEATURE REQUEST] Remove CustomComponentNameAttribute"
**Is your feature request related to a problem? Please describe.**
When writing documentation for this library I noticed that `[CustomComponentNameAttribute]` is no longer used and is marked as obsolete in favor of using `[ComponentName]`.

**Describe the solution you'd like**
This should be removed in a future release.

[2020-08-23 00:40] jeffcampbellmakesgames commented on #15
This has been accomplished and merged to develop.

[2020-08-23 00:40] #15 closed, assigned to jeffcampbellmakesgames

[2020-08-23 00:44] jeffcampbellmakesgames commented on #1
Finished up the attributes doc and created it on the wiki [here](https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Attributes).

[2020-08-24 12:24] jeffcampbellmakesgames commented on #5
Documentation for this feature has been created on the wiki [here](https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Blueprints).

[2020-08-24 12:24] jeffcampbellmakesgames commented on #5
This has been merged to develop.

[2020-08-24 12:24] #5 closed

[2020-08-25 11:16] jeffcampbellmakesgames commented on #8
With the addition of blueprints a new component API was added for Entities for `Copy_ComponentName_`To that enables a developer to copy the members of an existing component to an entity as a new component or a new one or an existing one.

[2020-08-25 12:26] jeffcampbellmakesgames commented on #14
This has been merged to develop.

[2020-08-25 12:26] #14 closed, assigned to jeffcampbellmakesgames

[2020-08-26 16:28] jeffcampbellmakesgames opened #16 "[FEATURE REQUEST] Modify CopyComponentTo code-gen for better copying"
**Is your feature request related to a problem? Please describe.**
Currently the entity API `CopyComponentTo` performs a shallow copy of a component where a template instance's members's vales are assigned to a new component instance's members. This results in reference types being assigned directly, thus maintaining the reference instance of the same member between two different component instanc

[2020-09-02 12:42] jeffcampbellmakesgames commented on #16
Accomplished much of the implementation for a more nuanced copy logic for component members based on whether they are capable of supporting deep copy logic or not, looking to update/create unit tests and update documentation.

[2020-09-03 12:23] jeffcampbellmakesgames opened #17 "[FEATURE REQUEST] Update minimum Unity project version to latest 2019.4 LTS patch"
**Is your feature request related to a problem? Please describe.**
I'd like for **EntitasRedux** to support an LTS version of Unity as the minimum version as it ensures it will be stable and receiving bug fixes on that Unity version for 2 years. After those 2 years have passed I would bump the minimum LTS version of Unity that **EntitasRedux** supports to the 2020 version.

**Describe the solution

[2020-09-03 12:34] jeffcampbellmakesgames opened #18 "[RESEARCH] Investigate alternative object cloning libraries for copying components, blueprints"
**Is your feature request related to a problem? Please describe.**

I'd like for copying components, blueprints to be simpler and easier for developer to solve without needing to implement ICloneable for custom reference types to determine how a deep clone should occur (or at least make that optional for potential performance improvements).

**Describe the solution you'd like**

There are some thi

[2020-09-03 12:51] jeffcampbellmakesgames commented on #18
Potential options include:
* https://github.com/mijay/NClone
* https://github.com/mccj/CloneExtensionsEx
* https://github.com/force-net/DeepCloner
* https://github.com/ReubenBond/DeepCopy

[2020-09-04 11:15] jeffcampbellmakesgames commented on #16
This has been merged to develop.

[2020-09-04 11:26] jeffcampbellmakesgames commented on #17
Checked in to develop

[2020-09-04 11:26] #17 closed, assigned to jeffcampbellmakesgames

[2020-09-04 11:26] #16 closed, assigned to jeffcampbellmakesgames

[2020-09-04 11:28] jeffcampbellmakesgames commented on #8
Pulling this off of a milestone for now as some partial progress has been made, but I want to brainstorm this over further to come up with a better defined set of  API changes for this.

[2020-09-10 12:35] jeffcampbellmakesgames commented on #18
As I've investigated this further, [DeepCopy](https://github.com/ReubenBond/DeepCopy) seems to me to be one of the more robust, performant options for adding this capability for component copying. There are a few challenges to overcome, particularly for il2cpp platforms.

**Preventing Code Stripping**
This is one of the easier areas as adding the `[Preserve]` attribute throughout the forked librar

[2020-09-13 13:56] jeffcampbellmakesgames commented on #18
Unfortunately, I am going to place this on the backburner until new avenues of AOT support open up for generics or I get some fresh inspiration on how to attack this. I've gotten this fairly close to working in all circumstances, but there are a few areas I don't see a way to work around for now.

**Providing AOT support for generic usage of private types**
To be able to call generic methods via e

[2020-09-15 16:51] jeffcampbellmakesgames opened #19 "[FEATURE REQUEST] Ensure support exists for Experimental PlayMode Options"
**Is your feature request related to a problem? Please describe.**
There are several newer options in Unity for disabling reloading the app domain and/or reloading the scene when entering playmode. These greatly speed up iteration time in the editor. I'd like to be able to make sure that **EntitasRedux** supports working with these options, particularly as there are several static classes used for

[2020-09-24 18:56] jeffcampbellmakesgames opened #20 "[FEATURE REQUEST] Add additional thread safety for static fields"
**Is your feature request related to a problem? Please describe.**
There is a desire by some users to be able to use a `Context` on separate threads, particularly in the context of a game server. However some static fields are not decorated as being `[ThreadStatic]` so that the value of these fields are unique per thread. Some of these areas are described on an older PR [here](https://github.com/s

[2020-09-26 16:59] jeffcampbellmakesgames opened #21 "[DISCUSS] Update code generation to use Roslyn over Reflection"
**Is your feature request related to a problem? Please describe.**

Several folks have asked me recently about why EntitasRedux uses reflection-based code generation versus Roslyn like the Entitas Asset Store version does. In short:
* I have more familiarity with reflection over Roslyn, particularly for code-generation and this made forking Entitas originally easier to do.
* The open-source versio

[2020-09-26 17:11] jeffcampbellmakesgames opened #22 "[FEATURE REQUEST] Create new data provider to create and populate Roslyn AdhocWorkspace"
**Is your feature request related to a problem? Please describe.**
In order to be able to refactor existing data providers to use a Roslyn-based code-analysis approach versus reflection, they must be able to search through all of the relevant source files in the Unity project. This might include source files located in:
* The Unity Assets folder
* The Package folders that the Unity project referen

[2020-09-26 19:06] fahall commented on #21
For me, the biggest down side to reflection based code generation is that automated refactoring can be difficult. I end up spending orders of magnitude more time fiddling with generated code and getting things to compile when using Reflection. This could just be because I don't have a good process.

Lets say I want to change the name of a component.

My ideal workflow would be:
1. ctrl-shift-r (re

[2020-09-26 19:12] fahall opened #23 "[FEATURE REQUEST] Collect AutoGenerated Cleanup Systems into single System per Context"
**Problem**
I use quite a few [Cleanup] components. These generate cleanup systems for me (e.g. DestroyGameEntitiesWithMyComponentSystem), which is great; however, I then have to remember to add each of them to my game.

**Solution**
I'd prefer that an additional `AutoGeneratedGameCleanupSystems` system be created that compiles all of the automatically generated cleanup systems into a single syste

[2020-09-26 20:15] jeffcampbellmakesgames opened #24 "[FEATURE REQUEST] Create API for copying one entity to another"
**Is your feature request related to a problem? Please describe.**
I'd like to have an easy way to copy all of the components on an entity over to another entity. This previously existed, but used reflection at runtime to shallow-copy each member's value. In vanilla Entitas, that implementation is [here](https://github.com/sschmid/Entitas-CSharp/commit/acd0ed57e6529f8a669ea8b3f18206ccbed9373e).

*

[2020-09-26 21:03] JesseTG commented on #21
Roslyn *alone* can't scan compiled assemblies, but Microsoft provides Roslyn-backed assemblies that can. You'll want to use [`Microsoft.CodeAnalysis.Workspaces.MSBuild`](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Workspaces.MSBuild/), just as vanilla Entitas' codegen does. Make sure to scan the whole solution, not just a single project.

[2020-09-26 22:04] jeffcampbellmakesgames commented on #21
I'm not sure if this is an option if this code-gen process takes place _within_ Unity though versus an external app. Based on the nuget package [here](https://www.nuget.org/packages/Microsoft.CodeAnalysis.Workspaces.MSBuild/), `MSBuild` is limited to .Net 4.7 and higher. When I had looked at the unofficial Roslyn package from Unity and elsewhere, this was one of the assemblies that wasn't included

[2020-09-26 22:13] jeffcampbellmakesgames opened #25 "[FEATURE REQUEST] Add preprocessing symbol #if #endif on content's of generated code"
**Is your feature request related to a problem? Please describe.**
A workflow was recently described on an easier way to refactor existing code that is also touched by auto-generated code. Rather than need to hand-modify auto-generated code where it had been changed, instead it was easier to:
* Surround the internal implementation of auto-generated code with a pre-processor symbol
* Set the prepro

[2020-09-26 23:12] jeffcampbellmakesgames commented on #20
Merged to develop in 0f08a70e6f91955d5832f2d24a253f5eeae4d93f

[2020-09-26 23:12] jeffcampbellmakesgames commented on #19
Merged to develop in 0f08a70e6f91955d5832f2d24a253f5eeae4d93f

[2020-09-26 23:13] #20 closed, assigned to jeffcampbellmakesgames

[2020-09-26 23:13] #19 closed, assigned to jeffcampbellmakesgames

[2020-09-27 02:00] jeffcampbellmakesgames commented on #23
@fahall What's your thought on something like these. I have two code generators for this; one generates a feature and another generates a systems. Both are generated per context and contain all of the cleanup systems associated with that context.

[code]

[code]

[2020-09-27 02:36] JesseTG commented on #21
I've been writing my codegen plugins (for vanilla Jenny, not for Genesis) with external use in mind.

I've been using custom Jenny plugins on Linux, where .NET Framework 4.7 is not available. I've been using the .NET DLLs (and .NET executable for Jenny itself) that are included with the asset store package. However, I don't know enough about .NET or Mono to be able to tell you why this works. As f

[2020-09-27 11:33] jeffcampbellmakesgames commented on #21
Jenny might be a .Net Core app, which means it can run on Windows, Linux, and Mac. There is some amount of interoperability between the two frameworks, which means that a .Net core app can do things like load .Net Standard assemblies and use types from it as long as it can resolve all of the assembly dependencies those types might be using.

This article [here](https://jeremybytes.blogspot.com/202

[2020-09-27 12:00] jeffcampbellmakesgames commented on #23
This work can be previewed on the `feat/aggregate_cleanup_systems` branch.

[2020-09-27 16:00] jeffcampbellmakesgames commented on #24
@fahall I've pushed up this work on branch `feat/entity_copy_to` if you'd like to check it out. The end-result of this work is that `Entity.CopyTo` and `Context.CloneEntity` are now supported again using the newer component copy to methods under the hood.

**Example Auto-Generated Code for Entity**
[code]

**Example Auto-Generated Code for Context**
[code]

[2020-09-27 16:02] fahall commented on #23
Those look great to me!

Quick question of style: why two constructors instead of null propagation or Having one ctor call the other? I’m not suggesting either approach is better, but curious as to your thought process.

`	public TestCleanupSystems(IContext<TestEntity> contextOverride = null) : base()
	{
		var context = contextOverride ?? Contexts.SharedInstance.Test;
		_cleanupSystems.Add(new Rem

[2020-09-27 16:37] fahall commented on #21
To clarify: is the goal that the code gen run within Unity or be runnable from a Unity menu/hotkey?

If it’s the latter, I think that there are ways to run external applications from within Unity.

[2020-09-27 16:56] JesseTG commented on #21
Personally, I'd go for supporting both, just as Jenny does. There's ups and downs to each. When running codegen in the editor:

- You have access to the `AssetDatabase`, so your code generators can use information derived from your assets and project configuration.
- You can't run the codegen while code is being compiled or the domain is being reloaded, so this increases iteration time.
- You're c

[2020-09-27 17:31] jeffcampbellmakesgames commented on #21
The over-arching problem from my perspective is that discovering code via reflection has several disadvantages versus roslyn, in particular that it has to be compiled beforehand. There are levels of solutions to this problem, some more complex and time-consuming than others and I'd like to enumerate these just so we're all on the same page for the level of effort.

At minimum, the goal would be to

[2020-09-27 17:45] JesseTG commented on #21
Oh, it's not a requirement at all. Roslyn-powered codegen and Unity decoupling are two orthogonal goals; both can be developed independently. Roslyn and its accompanying tools already don't know or care about Unity. If you minimize your use of `UnityEngine` or `UnityEditor` APIs, that will simplify a command-line port later. In fact, ticking the "No Engine References" box on the appropriate assemb

[2020-09-27 17:47] jeffcampbellmakesgames commented on #23
It's a clean code thing of generally trying to avoid optional parameters in favor of explicit methods with overloads. If a parameter is optional, it indicates that a method branches it's logic based on the different values of that param and if you're unit testing the more params a method has the more test cases there could be. An empty constructor implies it only has one outcome (even if it's not

[2020-09-27 17:51] fahall commented on #21
Required or not, my tendency is to avoid coupling to Unity unless there is a very strong reason to do so. Having genesis as an external app (with whatever is necessary to make it callable from Unity) seems a big improvement both in terms of workflow and available tooling as outlined above.

That said, I think it would need to be a .NET Core or Standard app to support developers across platforms, s

[2020-09-27 17:59] JesseTG commented on #21
[Microsoft is unifying .NET around .NET Core.](https://devblogs.microsoft.com/dotnet/introducing-net-5/) In fact, they're dropping all suffixes and just calling it .NET. As far as I'm concerned, .NET Standard and Framework are legacy APIs. So anything you do is gonna have to support .NET Core whether you like it or not.

No specific Genesis or Jenny plugins come to mind, but you can find a whole b

[2020-09-27 18:41] jeffcampbellmakesgames commented on #23
Merged to develop in 265d6a7eb301f120b4985ef7ba9b30b096e299df.

[2020-09-27 18:41] #23 closed, assigned to jeffcampbellmakesgames

[2020-09-27 20:05] jeffcampbellmakesgames commented on #25
**Menu Item for Toggling Refactor Mode**
I have a preview of this work available on branch `feat/compile_out_implementation`. A new menu item has been added such that a developer can execute it or press hotkey "Shift + Ctrl + R" to toggle a "Refactor Mode". When this mode is enabled, it will safely compile out all areas of auto-generated code's implementation related to component members and shoul

[2020-09-28 14:46] jeffcampbellmakesgames commented on #21
Based on your feedback, I'd like to go with this second option. Thankfully the original version of Genesis I iterated on before I reworked and released it was a .Net Core app that ran external to Unity, so I did some work yesterday afternoon to drag some of that previous work in on a new branch and start the process of migrating the foundational genesis code over. I currently have it setup to run

[2020-09-29 13:00] jeffcampbellmakesgames commented on #21
I have pushed up a branch [feat/v2](https://github.com/jeffcampbellmakesgames/Genesis/tree/feat/v2) onto Genesis with the foundational work, setup, created a project [here](https://github.com/jeffcampbellmakesgames/Genesis/projects/2) to track issues related to it's development, and created several tasks and a few issues to start with (specifically configuration and an initial data provider to cre

[2020-09-30 00:44] jeffcampbellmakesgames commented on #25
Merged to develop

[2020-09-30 00:44] #25 closed, assigned to jeffcampbellmakesgames

[2020-09-30 00:44] jeffcampbellmakesgames commented on #24
This has been merged to develop

[2020-09-30 00:44] #24 closed, assigned to jeffcampbellmakesgames

[2020-09-30 12:30] jeffcampbellmakesgames opened #26 "[FEATURE REQUEST] Create error log or stop playmode if Refactor Mode is still enabled"
**Is your feature request related to a problem? Please describe.**
When **Refactor Mode** is enabled, most code relying on EntitasRedux will fail as component members will not be assigned (as they are compiled out). It's not always obvious when Refactor Mode is on and it can lead to developers troubleshooting bugs that don't exist.

**Describe the solution you'd like**
There should be a clear and

[2020-10-02 00:36] jeffcampbellmakesgames commented on #18
Closing this for now until new developments arise to solve some of these issues.

[2020-10-02 00:36] #18 closed, assigned to jeffcampbellmakesgames

[2020-10-02 01:19] jeffcampbellmakesgames commented on #13
This has been added to the Wiki [here](https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Release-Checklist).

[2020-10-02 01:19] #13 closed, assigned to jeffcampbellmakesgames

[2020-10-09 12:22] jeffcampbellmakesgames commented on #26
Merged to develop

[2020-10-09 12:22] #26 closed, assigned to jeffcampbellmakesgames

[2020-10-11 13:10] pmikstacki opened #27 "[BUG] Entity.CopyTo and Context.CloneTo methods not generated when zero components created"
**Describe the bug**
After Generation Unity throws
[code]
**Unity Version:**
_Unity 2020.1.8f_

**To Reproduce**
_Steps to reproduce the behavior:_

1. Create new Unity Project
2. By using upm-cli Add Entitas Redux Package and NaughtyAttributes Package(Idk if relevant but could be)
3. Follow the hello world tutorial
4. Generate project files

**Expected behavior**
_Stuff Generates without errors._

[2020-10-11 14:36] jeffcampbellmakesgames commented on #27
@pmikstacki I've just reproduced this locally and can see what the issue is. Following the tutorial, the first code-generation event takes place before it's directed the user to create any components, but the way code-generation is setup for components it must not handle the case to generate either the `CopyTo` or `CopyComponentTo` methods if there are not any components assigned to that context.

[2020-10-13 11:44] WeslomPo commented on #12
ScriptableObjects tends to hook all data, callbacks and so on to himself, and can cause a memory leak because they will live all time that game is live. Even if you know this, even if you aware of problem of this, you can easily shoot your leg. So I recommend to avoid that approach.

If project have some DI container, this problem easily solvable by generating a container file with all systems in

[2020-10-15 01:17] jeffcampbellmakesgames commented on #12
There is definitely the potential for a `ScriptableObject` class to be considered a memory leak in that it can contain a lot of references to resources that would not be necessarily de-referenced or unloaded if the `ScriptableObject` were still in-memory. For the purpose of using it as the basis of an ECS system that should largely be stateless I wouldn't think this would be a concern in this way,

[2020-10-15 12:12] jeffcampbellmakesgames opened #28 "[BUG] Build compile error for missing Contexts.SharedInstance member"
**Describe the bug**
A recent feature adding experimental playmode support accidentally compiles out the `Contexts.SharedInstance` member when not in the editor. This causes a compile error when building a player as that member is no longer available.

**Unity Version:**
* Unity 2019.4.11f1

**To Reproduce**
* Attempt to build an empty project with any EntitasRedux generated content on v1.3.3
* Co

[2020-10-15 15:50] jeffcampbellmakesgames commented on #27
This has been resolved in a fix merged to develop.

[2020-10-15 15:50] #27 closed, assigned to jeffcampbellmakesgames

[2020-10-15 15:51] jeffcampbellmakesgames commented on #28
This has been resolved in a fix merged to develop.

[2020-10-15 15:51] #28 closed, assigned to jeffcampbellmakesgames

[2020-10-18 11:15] TheHacky opened #29 "[BUG] Unity Package Manager can't load Entitas-Redux"
**Describe the bug**
When trying to add Entitas-Redux repo to Unity Package Manager it failed with an error.

**Unity Version:**
Unity 2019.4.12f1

**To Reproduce**
1. Open a project
2. Open package manager
3. add a new package by git URL (https://github.com/jeffcampbellmakesgames/entitasredux.git#release/stable)
4. See error
[code]

**Expected behavior**
Entitas_Redux package can be loaded and in

[2020-10-18 11:23] TheHacky commented on #29
Okay. First issue solved. There is a '-' missing in the URL.
https://github.com/jeffcampbellmakesgames/entitas-redux.git#release/stable

But then you got an error because of the path.
[code]

[2020-10-18 11:29] TheHacky commented on #29
Okay. In release is an additional 's' missing.
https://github.com/jeffcampbellmakesgames/entitas-redux.git#releases/stable

I will create a PR for the readme.

[2020-10-18 12:07] #29 closed, assigned to jeffcampbellmakesgames

[2020-10-19 07:27] TheHacky opened #31 "[BUG] Attributes Event & CleanUp generates one unnecessary system"
**Describe the bug**
When using the attributes `Event` and `CleanUp` for one component, an unnecessary system will be created. This system will destroy all entities with the listener component attached.

**Unity Version:**
Unity 2019.4.12f1

**To Reproduce**
1. Create a new component with at least one context and attributes `Event(Self)` & `CleanUp(DestroyEntity)`
2. generate Code
3. two cleanup s

[2020-11-06 02:24] JesseTG opened #32 "[FEATURE REQUEST] IPreInitializeSystem, for initialization that must be done before Initialize() but can't be done in a constructor"
**Is your feature request related to a problem? Please describe.**

I have all of my `System`s set up as `ScriptableObject`s. One major upside is that I can configure my `System`s in the Unity editor; instead of having to screw around with dependency injection, I just add some fields. It's very designer-friendly, which is good because I don't expect to be a solo dev forever.

There are disadvantag

[2020-11-06 02:34] JesseTG commented on #12
I'm doing this for my game. So far it's working nicely; once my code is battle-tested I'll publish it. Not sure how yet; it might be as a PR for this repo, a standalone package, or a Gist for someone else to polish up. It might even be as a customizable codegen. Dunno, I need to make sure my code solves my problems first. Here are some other thoughts:

All of my `System`s derive from a class calle

[2020-11-06 13:32] TheHacky opened #33 "[BUG] DebugSystemsBehaviour shows wrong values for Update Systems if also reactive systems are present"
**Describe the bug**
When debugging the runtime of systems in inspector with DebugSystemsBehaviour. It shows the wrong values for the update systems.

**Unity Version:**
Unity 2019.4.12f

**To Reproduce**
1. create a new feature
2. add an IReactiveSystem
3. add an IUpdateSystem
4. inspector show values of IUpdateSystem for IReactiveSystem

**Expected behavior**
The values should be of the right sy

[2020-11-06 20:01] jeffcampbellmakesgames commented on #33
Hi @TheHacky, if you'd like to fork the repo and create a test scene demonstrating this bug that will certainly make it easier for me to be able to respond to this issue! Thanks for asking.

[2020-11-08 14:10] jeffcampbellmakesgames commented on #32
From what I understand, the problem is that there is a race condition between two systems with the `IInitializeSystem` method; one creating entities and the other creating a collector that expects those entities to be created both on the same frame and after this latter system is initialized. I understand what you're saying about not having a reliable constructor or init method for a `ScriptableOb

[2020-11-08 14:31] jeffcampbellmakesgames commented on #32
I don't have any sort of a plugin or PR yet for this kind of approach as well, but on my side-project I've handled this in a way that might be analogous to what you're thinking of here. This is a slightly modified version to fit more to your proposed use-case. In a similar way as to the role `IPreInitializeSystem` might play for a common way to provide an `IContexts` instance, `ScriptableSystemBas

[2020-11-08 17:05] jeffcampbellmakesgames commented on #31
@TheHacky I've created a pull request (https://github.com/jeffcampbellmakesgames/Entitas-Redux/pull/34) that should resolve this issue if you'd like to review this beforehand, otherwise in a few days I will merge this to develop and create a new patch release `v1.3.5` containing this fix.

[2020-11-08 22:05] JesseTG commented on #32
You understand correctly. Also "race condition" is probably not a bad term for it; but to be clear, there's no multithreading happening here. This is a matter of sequencing, not timing.

Yes, this is an accurate understanding.

In my particular case, rearranging the offending systems solved my problem. But I'm not certain that it always will; if such arrangements result in `Feature`s whose organiz

[2020-11-09 13:50] jeffcampbellmakesgames commented on #32
Good, glad we're on the same page :) A race condition as a concept isn't specific to threading though it often comes up with regards to syncing output or work between threads; it just means X system did something before Y system needed it to and caused a bug as a result.

There are more implications and work to adding a system interface than just it's immediate usage, which is why I'm cautious at

[2020-11-09 14:36] jeffcampbellmakesgames opened #35 "[FEATURE REQUEST] Scriptable Systems and Features"
**Is your feature request related to a problem? Please describe.**
_A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]_

There are advantages in Unity to being able to create systems as `ScriptableObjects`, but there is a lack of parity between POCO objects and systems that cause disadvantages and require workarounds. There are also architectural considera

[2020-11-09 14:38] jeffcampbellmakesgames commented on #12
Closing this issue in favor of https://github.com/jeffcampbellmakesgames/Entitas-Redux/issues/35 to better handle describing implementation and tasks for scriptable systems and features.

[2020-11-09 14:38] #12 closed, assigned to jeffcampbellmakesgames

[2020-11-09 14:40] jeffcampbellmakesgames commented on #32
Created issue https://github.com/jeffcampbellmakesgames/Entitas-Redux/issues/35 to better handle describing implementation and tasks for scriptable systems and features.

[2020-11-10 16:22] jeffcampbellmakesgames commented on #32
Closing this issue in favor of the one linked here (https://github.com/jeffcampbellmakesgames/Entitas-Redux/issues/35).

[2020-11-10 16:22] #32 closed, assigned to jeffcampbellmakesgames

[2020-11-12 01:29] TheHacky commented on #31
Sry for late reply. Your PR is working as intended. (y)

[2020-11-12 02:08] TheHacky commented on #33
Sorry for the late reply. I forked your repo and created a new branch (https://github.com/TheHacky/Entitas-Redux/tree/bug/visual_debug_bug). I added a new folder "Visual Debug Bug" in the "ExampleContent/Scenes". You will find two systems. One UpdateSystem and one ReactiveSystem. The UpdateSystem will sleep for 100ms each frame, but in visual debugging the duration will be shown for the ReactiveSy

[2020-11-12 13:34] jeffcampbellmakesgames commented on #31
This has been merged to develop and released in v1.3.5 (https://github.com/jeffcampbellmakesgames/Entitas-Redux/releases/tag/upm%2Fv1.3.5). It should be available on **OpenUPM** shortly.

[2020-11-12 13:34] #31 closed, assigned to jeffcampbellmakesgames

[2020-11-13 17:27] JesseTG commented on #32
Actually, wait, I have another use case that isn't necessarily tied to `ScriptableObject`-backed systems.

Injecting dependencies that must be processed within `Initialize()`, but are not available at the time of construction. To make it more general, let's call it `IInjectSystem` and make it look like this:

[code]

`obj` *could* be a `Contexts`, but it doesn't have to be. It could also be:

- An

[2020-12-05 13:11] matthiashermsen opened #36 "[BUG] Entitas Redux installation link on wiki page is broken"
**Describe the bug**
The main README file shows the correct git installation urls

https://github.com/jeffcampbellmakesgames/entitas-redux#install-via-git-url

but the wiki page has a broken url for the Entitas Redux package

https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Installation#install-via-git-url

There is missing a hyphen between "entitasredux".

**Expected behavior**
Instea

[2020-12-06 13:13] matthiashermsen opened #37 "[BUG] Create GenesisSettings assets context menu path is missing a part"
**Describe the bug**
In the wiki at the second point

https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Hello-World#setting-up-a-unity-project-with-entitasredux

This path is missing the JCMG part.

**Expected behavior**
It should be

[2020-12-09 16:03] matthiashermsen opened #38 "[FEATURE REQUEST] Add wiki page on how to setup a complete repository"
**Is your feature request related to a problem? Please describe.**
Currently there is a Hello World wiki page covering the basics. It would be nice to have a guide covering a complete setup e.g. for "teams" working with Git and automated tests.

**Describe the solution you'd like**
It would be nice to have a wiki page covering the following parts:
- [x] Prerequisites
- [x] How to setup the Git rep

[2020-12-09 16:03] matthiashermsen commented on #38
I would like to work on this. Please ping me if you want me to :)

[2020-12-15 15:36] jeffcampbellmakesgames commented on #38
Hi @matthiashermsen, I apologize for the delayed response; after I move on Dec 18th I will be able to be more responsive and my general engagement for this framework will be picking up.

I am more than happy to make it easier for the community to update the wiki. As a goal for myself I'd like to be able to check in on the changes over time to make sure the information is accurate and conveyed well

[2020-12-15 17:58] jeffcampbellmakesgames opened #40 "[FEATURE REQUEST] Verify Unity 2020.2 compatibility/support"
**Is your feature request related to a problem? Please describe.**
_A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]_

Unity 2020.2 has just been released; please verify that everything is working as expected for this TECH release version.

**Describe the solution you'd like**
_A clear and concise description of what you want to happen._

There should no

[2020-12-15 20:36] matthiashermsen commented on #38
@jeffcampbellmakesgames np! take your time :)

I will try to create a page in some days and let you know, so you can review it if you want

[2020-12-19 21:39] matthiashermsen commented on #37
Fixed, changes:

https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Hello-World/_compare/66812390c4e1af00b9de3f83f2a29f0dd875f5aa

[2020-12-19 21:39] #37 closed, assigned to nobody

[2020-12-19 21:43] matthiashermsen commented on #36
Fixed the wiki page, revision:

https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Installation/_compare/8503a422e7d3d18cb24ae121bffb18ed7ca887be

@jeffcampbellmakesgames you can either close this or have a look at the suggestion

- Remove the installation guide from the main README file
- Refer to the wiki page in the main README file

your choice :)

[2020-12-21 21:25] matthiashermsen commented on #38
The new wiki page can be found here

https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/How-to-setup-a-new-Github-project-with-tests

@jeffcampbellmakesgames please review it whenever you want :)

Please also have a look at my changes here

https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Installation#install-via-git-url

~~The new wiki page still needs to be added to the pag

[2021-01-02 16:30] jeffcampbellmakesgames commented on #38
Hey @matthiashermsen, thanks for digging into this further. Now that I'm moved in and have internet again I am catching up on ER work and your updates to the wiki. Will get back to you shortly

[2021-01-05 13:54] matthiashermsen commented on #38
I also added "back to top" links, I think this is better for fast navigation :)

[2021-01-06 13:02] jzapdot commented on #38
I'll have some time this weekend for ER, but I wanted to share some general feedback. Overall looks great, but a few specific thoughts arose as I read through the tutorial that I wanted to get your thoughts on:

I think that this tutorial does a better job of covering Hello World than the page I created which covers more of an introduction to ECS and ER concepts. I'd like to at minimum rename the

[2021-01-06 15:22] matthiashermsen commented on #38
Yes, I think we could / should split it into multiple pages :)

Yes, that's true. I just discovered some optimizations so I added them to the .gitignore template. (e.g. ignore the Unity project .sln file because there is no need to add it to the version.

True

---

@jeffcampbellmakesgames Yes, we should split that tutorial. I would suggest the following modifications to the wiki:

- [ ] Remove wi

[2021-01-11 13:44] jzapdot commented on #38
@matthiashermsen This all looks good to me for a next pass; ` Genesis Setup (Below installiation)` is likely to change in the near future since Genesis v2 is going to be coming.

Exactly, there is a test runner in Unity now and tests can be run from the Editor as well as many IDEs.

[2021-01-11 17:44] jeffcampbellmakesgames opened #41 "[Docs] Document Genesis Setup (Below installation)"
**Is your feature request related to a problem? Please describe.**
Create or reuse existing documentation for Genesis Setup to own section under installation on the wiki

[2021-01-11 17:45] jeffcampbellmakesgames opened #42 "[Docs] Complete missing page for Groups"
Complete missing page for [Groups](https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Groups)

[2021-01-11 17:46] jeffcampbellmakesgames opened #43 "[Docs] Complete missing page for Systems"
Complete missing page for [Systems](https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Systems)

[2021-01-11 17:47] jeffcampbellmakesgames opened #44 "[Docs] Complete missing page for Entity-Indexes"
Complete missing page for [Entity-Indexes](https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Entity-Indexes)

[2021-01-11 17:48] jeffcampbellmakesgames opened #45 "[Docs] Merge Hello World tutorial content to Essential ECS Concepts"
Merge the Hello World page to [this page](https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Concepts)

[2021-01-11 17:49] jeffcampbellmakesgames opened #46 "[Docs] Create a document describing ways to test an Entitas Redux project using Unity Test Runner"
How to test your project using the Unity Test Runner (currently with NUnit) | no need to do it like this anymore https://www.youtube.com/watch?v=DZpvUnj2dGI

[2021-01-11 17:51] jeffcampbellmakesgames commented on #1
Closing this issue as it has been replaced with individual issues

[2021-01-11 17:51] #1 closed

[2021-01-11 17:53] jeffcampbellmakesgames opened #47 "[Docs] Document best practices for Entitas Redux"
**Is your feature request related to a problem? Please describe.**
It would be good to provide newcomers to either an ECS framework or Entitas Redux with a collection of best practices to better inform how to utilize these approaches or framework in their project.

[2021-01-11 17:58] jeffcampbellmakesgames commented on #36
I'm going to leave this open for the moment, but once I can identify a good landing spot for a new user navigating from the readme to the wiki I will effect that change and close this.

[2021-01-12 06:49] matthiashermsen commented on #47
Some good examples would be

- Physics?
- Waiting for things before running other systems / logic (async, Coroutines, ..)
- Scene management
- Folder structure
- Communication between ER and Unity (e.g. event listeners)
- Layer abstraction (for testing, but this is less ER related)

[2021-01-12 18:39] matthiashermsen commented on #41
@jeffcampbellmakesgames I would like to work on this :)

[2021-01-12 18:39] matthiashermsen commented on #45
@jeffcampbellmakesgames I would like to work on this :)

[2021-01-12 20:16] matthiashermsen commented on #41
@jeffcampbellmakesgames Please review this

https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Genesis-Setup

I also added the page to the wiki sidebar

https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/_Sidebar/_compare/e48c39f1dd2bd6a95c78514adc8e6082a7a05d95

[2021-01-12 20:20] matthiashermsen commented on #38
Closing this in favor of the docs board

https://github.com/jeffcampbellmakesgames/Entitas-Redux/projects/3

[2021-01-12 20:20] #38 closed, assigned to jeffcampbellmakesgames

[2021-01-12 20:42] matthiashermsen commented on #45
@jeffcampbellmakesgames please review this

https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Concepts/_compare/2566aac5186d27abae6ba885539df8e6db2fc481

I also updated the Hello World wiki page

https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Hello-World/_compare/1e921766213f67fdf40da2be12628e49f680d3ac

[2021-01-12 20:45] matthiashermsen commented on #46
@jeffcampbellmakesgames I would like to work on this.

Since I'm not an expert on this I would like to provide the wiki content here as a comment so you can review it first

[2021-01-12 21:51] jeffcampbellmakesgames commented on #46
That sounds good; I can also help to supply content for this based on some of the knowledge gained from unit testing the framework itself and different approaches used there.

[2021-01-13 12:50] jeffcampbellmakesgames commented on #41
Looks good! I made some minor changes, added some screenshots, and created a Getting Started section so it was clearer in that part of the sidebar that installation and genesis setup were related. If you're happy with how this looks and reads I would mark this as complete.

[2021-01-13 13:03] matthiashermsen commented on #41
Yes, this is fine :)
You can close this

[2021-01-13 13:10] jeffcampbellmakesgames commented on #45
After seeing the original Hello World content I had in the Concepts page, I decided I didn't like that it was mixing ECS basics with what is the manual for EntitasRedux. Instead, what I ended up doing was moving this content to the Getting Started section as it felt appropriate for a beginning user there rather than someone looking up implementation assistance in the manual.

![image](https://user

[2021-01-13 13:11] #41 closed, assigned to matthiashermsen

[2021-01-13 13:31] jeffcampbellmakesgames opened #48 "[Docs] Create guide on how to reference entities"
**Is your feature request related to a problem? Please describe.**
A topic that often comes up on Discord is how to reference Entities in other places like components or systems. This page here on the original wiki covers some areas. I'd like to create a similar page that covers some of the commonly recommended practices with example code provided:

* Storing reference to an Entity ID in a compone

[2021-01-13 18:11] matthiashermsen commented on #46
@jeffcampbellmakesgames this is a first prototype. For the assembly definition part I'm not sure what needs to be added so for now I just added everything. I would put this wiki page to the getting started section.

Please take care for the move system test example, this is not done yet :D

# Setting up tests

## Requirements

Entitas-Redux and Genesis are [installed](https://github.com/jeffcampbe

[2021-01-13 18:30] matthiashermsen commented on #45
yes, this is fine. I think this issue is done.

[2021-01-13 20:43] matthiashermsen opened #49 "[Docs] Complete Hello World page"
Complete the [Hello World wiki page](https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Hello-World) TODOs

[2021-01-13 20:43] matthiashermsen commented on #49
@jeffcampbellmakesgames I would like to work on this.

Please add it to the Docs project and add the Documentation label.

[2021-01-14 12:45] #45 closed, assigned to matthiashermsen

[2021-01-18 15:08] matthiashermsen commented on #43
Not sure how much content you want to provide but maybe you want to convert the systems page into a category and create one page per system?

When providing example code pages might get really large :)

[2021-03-13 16:00] jeffcampbellmakesgames commented on #36
@matthiashermsen I've updated the readme to point to the https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/Getting-Started page for installation and getting started instructions and removed the older content for installing on the readme.

[2021-03-13 16:00] #36 closed, assigned to jeffcampbellmakesgames

[2021-03-13 16:19] jeffcampbellmakesgames commented on #21
Genesis v2 has officially been released, although more documentation needs to be created on how to implement code-generation plugins (installation docs and other info are available). I've done some initial work on ER v2 on branch [feat/v2](https://github.com/jeffcampbellmakesgames/Entitas-Redux/tree/feat/v2) to create an external code-gen plugins solution for ER, configure the Unity project to be

[2021-03-13 16:19] #21 closed, assigned to jeffcampbellmakesgames

[2021-03-15 12:09] jeffcampbellmakesgames opened #50 "[v2] Port v1 EntitasRedux.Editor.Plugins plugins to use Genesis v2"
**Is your feature request related to a problem? Please describe.**
For EntitasRedux v2, the following groups of plugins from the `EntitasRedux.Editor.Plugins` AssemblyDefinition should be ported to be implemented in the external `Plugins` solution under the `EntitasRedux.CorePlugins` project. This work is being implemented on the `feat/v2` branch and any PRs should target that branch.

- [x] Clean

[2021-03-15 12:12] jeffcampbellmakesgames opened #51 "[v2] Port v1 EntitasRedux.Blueprints.Editor.Plugins plugins to use Genesis v2"
**Is your feature request related to a problem? Please describe.**
For EntitasRedux v2, all content from the `EntitasRedux.Blueprints.Editor.Plugins` AssemblyDefinition should be ported to be implemented in the external `Plugins` solution under the `EntitasRedux.BlueprintPlugins` project. This work is being implemented on the `feat/v2` branch and any PRs should target that branch.

[2021-03-15 12:15] jeffcampbellmakesgames opened #52 "[v2] Port v1 EntitasRedux.VisualDebugging.Editor.Plugins plugins to use Genesis v2"
**Is your feature request related to a problem? Please describe.**
For EntitasRedux v2, all content from the `EntitasRedux.VisualDebugging.Editor.Plugins` AssemblyDefinition should be ported to be implemented in the external `Plugins` solution under the `EntitasRedux.VisualDebuggingPlugins` project. This work is being implemented on the `feat/v2` branch and any PRs should target that branch.

[2021-06-08 12:24] jeffcampbellmakesgames commented on #52
This has been implemented and merged to develop

[2021-06-08 12:24] #52 closed, assigned to jeffcampbellmakesgames

[2021-06-08 12:24] jeffcampbellmakesgames commented on #51
This has been implemented and merged to develop

[2021-06-08 12:24] #51 closed, assigned to jeffcampbellmakesgames

[2021-06-08 12:25] jeffcampbellmakesgames commented on #50
This has been implemented and merged to develop

[2021-06-08 12:25] #50 closed, assigned to jeffcampbellmakesgames

[2021-06-28 12:43] miroslavzeman opened #53 "[BUG] Indexes are not generated"
**Describe the bug**
Attributes `[EntityIndex]` and `[PrimaryEntityIndex]` do not generate additional code for getting entities from context.

**Unity Version:**
Unity 2020.3.0f1

**To Reproduce**
1. Create new Unity 2020.3.0f1 project
2. Update `manifest.json` with:
[code]
3. Setup genesis based on documentation -> click on `Update Genesis CLI` and `Install or Update All Plugins`
4. Create `Genes

[2021-06-29 13:00] jeffcampbellmakesgames commented on #53
I was able to track down and reproduce this bug locally. I was able to inspect further and have a feeling I know what the error is. I should have some more info in a day or two as to a fix.

[2021-06-30 12:38] jeffcampbellmakesgames commented on #53
Looking at the implementation of `EntityIndexDataProvider.cs` [here](https://github.com/jeffcampbellmakesgames/Entitas-Redux/blob/29e6a0071a2b7c1442201e9a9968da9cf21459e8/Plugins/EntitasRedux.Core.Plugins/EntityIndex/DataProviders/EntityIndexDataProvider.cs#L84), it appears to be checking for any members of a component decorated with inherited attribute types of `AbstractEntityIndexAttribute`. How

[2021-07-01 12:03] jeffcampbellmakesgames commented on #53
I've completed the first step of this which was to update genesis with better functionality for checking inherited attributes. Released this morning as a part of Genesis `v2.3.1`. I'll be taking a look at the data provider either tomorrow or this weekend.

[2021-07-11 18:49] matthiashermsen opened #55 "[QUESTION] How to setup a new assembly definition asset without loosing access to the generated code?"
I'm using Unity 2020.3.13f1 want to setup an assembly definition asset to pass it as a reference to the Play/Edit mode tests.

- Install .Net Core 3.1
- Create a new  project
- `Project Settings` => `Player` => Change the API compability level to .NET 4.x (for PC, Android and HTML)
- Install the packages via `openupm add com.jeffcampbellmakesgames.entitasredux`
- Create a folder right next to the

[2021-07-11 20:22] jeffcampbellmakesgames commented on #55
I don't think this is as much a question specific to ER than it is a general Unity question on how to use AssemblyDefinitions.

If you don't use AssemblyDefinitions, everything gets put into an appropriate auto-generated C# project based on whether it's runtime or editor code. All runtime code for example gets placed automatically for example in the `CSharp-Assembly` project if not in an AssemblyD

[2021-07-12 05:09] matthiashermsen commented on #55
I'm sorry, I didn't know that. Thanks a lot!

[2021-07-12 05:09] #55 closed, assigned to jeffcampbellmakesgames

[2021-07-12 13:01] jeffcampbellmakesgames commented on #53
Just wanted to share an update on this; I have a fix prepared and am tracking down a remaining issue. I should have a new version containing this fix available mid-week.

[2021-07-13 12:51] jeffcampbellmakesgames commented on #53
I've fixed this issue and merged to develop, the fix for this should soon be available in Entitas-Redux `v2.1.0`. If you could retest on this new version and let me know if this resolves your issue, I'd appreciate it.

[2021-07-16 13:18] miroslavzeman commented on #53
Working like a charm! 💯 Thank you! 👍

[2021-07-16 13:18] #53 closed, assigned to jeffcampbellmakesgames

[2021-07-19 14:17] miroslavzeman opened #56 "[BUG] Custom indexes are not generated"
**Describe the bug**
No code related to custom indexes is generated at all. The bug is probably related to [previously reported bug](https://github.com/jeffcampbellmakesgames/Entitas-Redux/issues/53) with indexes not being generated.

**Unity Version:**
Unity 2020.3.0f1

**To Reproduce**
1. Setup project as same as in [previously reported bug](https://github.com/jeffcampbellmakesgames/Entitas-Redu

[2021-07-20 15:09] miroslavzeman commented on #56
I'm sorry, I thought there are some helper methods generated as same as in Entitas, but the [usage in tests](https://github.com/jeffcampbellmakesgames/Entitas-Redux/blob/21ee36e5c2bfc83d5c03aa0da164adbc40f7b20e/Unity/Assets/JCMG/EntitasRedux/Scripts/Editor/Tests/Entitas/DescribeCustomEntityIndex.cs),  is different so there's probably no additional code generated because it's not required.

Closing

[2021-07-20 15:09] #56 closed, assigned to nobody

[2021-09-02 13:52] diegochiodini opened #57 "[BUG] No instances of MSBuild could be detected."
**Describe the bug**
After configuring Genesis for the first time, I press "Generate CLI code" and I get this.
[https://cdn.discordapp.com/attachments/750898960113074216/882964925289472040/unknown.png](url)

**Unity Version:**
Unity 2021.1.14f1

**To Reproduce**
Creates genesis installation folder in "Genesis.CLI" under the project folder.
Update Genesis CLI.
Install or Update all plugins.

Create

[2021-09-02 15:12] diegochiodini commented on #57
If anyone else has the same issue, please make sure that you installed .net Core SDK 3.1.
The runtime or VS build tools won't work.

[2021-11-09 19:44] jtuchel opened #58 "Is Entitas-Redux still maintained and are there any future plans?"
First of all thanks for the work on this project, it looks really nice. I would like to know if this project is still maintained / under development? I've seen that Entitas received some commits after long time but I think Entitas-Redux offers a great benefit for "Unity-only" users :)

There is a roadmap so I'm not sure if the open issues have a high priority?

Do you have any plans creating a sam

[2021-12-16 08:05] WeslomPo opened #59 "[BUG] Problems with using Redux"
**Describe the bug**
Hi! Struggling with starting to use a Entitas-Redux.
I following a documentation from wiki, and stumbling over uncertain things.
First problem, that I encounter is this:
![image](https://user-images.githubusercontent.com/310008/146243246-93add065-2941-4577-8ca8-cf365182399f.png)
`Library\PackageCache\com.jeffcampbellmakesgames.entitasredux@6eb819129f\Scripts\EntityLink.cs(47,4

[2021-12-17 11:24] WeslomPo commented on #59
Restarting compukter are helped :)

[2022-01-28 21:01] JesseTG opened #60 "[FEATURE REQUEST]: Compatibility plugins that generate identical output to standard Jenny plugins"
Migrated from [here](https://github.com/jeffcampbellmakesgames/Genesis/issues/23).

**Is your feature request related to a problem? Please describe.**
For various reasons, I find Jenny difficult to set up and write plugins for. Learning how to do so was a Herculean effort, and I'm not the only one who has to deal with it. (You're in the Discord, you see the questions people keep asking about Jenny

[2022-01-30 15:51] igibek opened #61 "Workflows are referencing vulnerable actions"
Hello, there!

As part of the university research we are currently doing regarding the security of Github Actions, we noticed that one or many of the workflows that are part of this repository are referencing vulnerable versions of the third-party actions. As part of a disclosure process, we decided to open issues to notify GitHub Community.

*Please note that there are could be some false positiv

[2022-02-04 12:56] jzapdot commented on #60
Hi @JesseTG. I hope all has been going well with your game.

I'm not sure how I can help you here; it seems like your desired solution is to generate vanilla Entitas code by porting it's plugins to run off of Genesis. I've largely done much of this work already along with improving the code style to be more aligned with modern C#, made several feature improvements, and fixed several bugs along the

[2022-02-04 12:57] #60 closed, assigned to nobody

[2022-02-04 13:31] jeffcampbellmakesgames commented on #61
Hi @igibek, I have updated this repo to use the latest version of the `gitversion` action available. Thank you for the heads up!

[2022-02-04 13:31] #61 closed, assigned to jeffcampbellmakesgames

[2022-02-04 13:51] JesseTG commented on #60
If I wrote these plugins, would you accept them into this repo via pull request?

[2022-02-04 14:03] jeffcampbellmakesgames commented on #60
Again, what you're proposing for *this* repo doesn't align with the intent of what ER is. Having two separate sets of differently-supported Entitas framework and code-generation side-by-side is not something I want to support. It's very confusing as both a developer and a user. These are the two solutions I would recommend.

[2022-02-04 14:37] JesseTG commented on #60
Okay, fair enough. Thanks anyway.

[2022-02-17 22:45] ashwin911 opened #62 "[BUG] Generate CLI code doesn't work on my machine unless the executable path of Genesis.CLI.dll is surrounded by quotation marks"
Starting "Generate CLI Code" results in a _"unexpected error occurred" "Code generation failed, process exited with code 1"_

If I copy the dotnet command from the log message and run it in Command Prompt I get the error _"Specify which project file to use because this 'E:\GameDev\Builderdam Workspace\BuilderDam' contains more than one project file."_

If I add quotation marks around the path of t

[2022-02-27 14:23] jeffcampbellmakesgames commented on #62
Hi @ashwin911 ,

I was able to reproduce this issue with CLI executable paths not being formatted correctly if they had a space in the folder name. I have fixed this in the way you've described along with an additional unrelated bug for a case-sensitive argument for executing a dry run. This has been merged to develop, is in Genesis v2.4.4, and should be available shortly on OpenUPM for installati

[2022-02-27 14:28] jeffcampbellmakesgames commented on #59
Hi @WeslomPo,

I'm sorry you were having issues getting ER up and running. For future reference on the readme [here](https://github.com/jeffcampbellmakesgames/Entitas-Redux#requirements) the requirements are noted for .Net 4.X and for .Net Core 3.1 to be installed. I do see on the wiki that the .Net Core 3.1 requirement was missing there and so have added it to now reflect what the readme states.

[2022-02-27 14:28] #59 closed, assigned to nobody

[2022-02-27 14:40] jeffcampbellmakesgames commented on #58
Hi @jtuchel,

I do maintain this project although active development from myself comes in fits and bursts as I have time to add new features. Development also comes in parallel with using it on various side projects and at the moment I am not using it (yet). In my full-time work we have been very busy with client projects and do not use ER yet, but there are several future or nascent projects I ha

[2022-02-27 14:40] #58 closed, assigned to nobody

[2022-02-27 14:48] jeffcampbellmakesgames commented on #57
Thanks for responding back with your identified solution. MSBuild is a core component used to load and parse through the C# solution and projects Unity generates for any associated code and Genesis/ER analyzes that output to generate code for the framework based on user-defined types, attributes.

I've updated the wiki FAQ (https://github.com/jeffcampbellmakesgames/Entitas-Redux/wiki/FAQ) to inclu

[2022-02-27 14:48] #57 closed, assigned to nobody

[2022-02-27 15:11] jeffcampbellmakesgames commented on #57
I've updated the readme for both Genesis and ER to denote MSBuild is a requirement and the myriad ways it can be installed.

https://github.com/jeffcampbellmakesgames/Entitas-Redux#requirements

[2022-03-04 16:43] #62 closed, assigned to jeffcampbellmakesgames

[2022-04-01 02:59] vkensou opened #63 "[BUG] maybe need update v2.1.2 Entitas-Redux-Plugins version"
**Describe the bug**
When i click "Auto Import" on Genesis Settings Inspector, I have some warning report:
 [2.4.4.0] [Warning] Assembly "EntitasRedux.Core.Plugins" at v"2.1.2.0" references an out-of-date version of "Genesis.Plugin" at v"2.3.2.0" and won't be loaded.

**Unity Version:**
_Unity 2020.3.23f

[2022-04-01 03:07] vkensou commented on #63
version v2.1.1  is ok

[2022-04-17 21:14] JesseTG commented on #56
No, actually, I think this is a legitimate bug. Looking at the API and implementation for the code generators here, I see no reason that `[EntityIndexGetMethod]`-marked methods shouldn't be used to generate extension methods for their associated `Context`. I'm running into this issue as well; my custom indexes *are* being recognized by Genesis because they're being added to the generated `Contexts

[2022-04-17 22:25] JesseTG commented on #56
@jeffcampbellmakesgames Would you be able to take a look at this? I suspect the issue is somewhere in [`EntityIndexGenerator`](https://github.com/jeffcampbellmakesgames/Entitas-Redux/blob/develop/Plugins/EntitasRedux.Core.Plugins/EntityIndex/CodeGenerators/EntityIndexGenerator.cs).

Specifically, I think this area is the best candidate:

https://github.com/jeffcampbellmakesgames/Entitas-Redux/blob

[2022-04-19 22:39] JesseTG commented on #56
[Ta-da!](https://github.com/jeffcampbellmakesgames/Entitas-Redux/pull/67)

[2022-04-20 13:20] jeffcampbellmakesgames commented on #63
The latest version `v2.1.3` should be synced for both Genesis and ER plugin versions

[2022-04-20 13:20] #63 closed, assigned to nobody

[2022-05-07 18:59] jtuchel commented on #47
@jeffcampbellmakesgames that would be great :)

[2022-05-07 19:00] jtuchel commented on #58
thanks!

I think if ER might be feature-complete focusing on the wiki pages for beginners like me would be awesome

[2022-05-07 19:06] jtuchel opened #68 "[FEATURE REQUEST] Add support for .Net 6"
**Is your feature request related to a problem? Please describe.**
There is no problem, it's just a nice to have feature

**Describe the solution you'd like**
_Based on the requirements ( https://github.com/jeffcampbellmakesgames/Entitas-Redux#requirements )_

As far as I know I must have installed the exact versions when working with ER. .Net 5 did not work, .Net Core 3.1 worked. If possible it w

[2022-05-07 19:15] matthiashermsen commented on #46
@jeffcampbellmakesgames I'm not sure if my suggestions are still up to date but for now I would like to unassign myself and wait for a review :)

[2022-05-07 19:17] matthiashermsen commented on #49
@jeffcampbellmakesgames jfyi unfortunately, it is not possible for me working on this at the moment.

[2022-05-12 01:43] JesseTG opened #69 "[BUG] `ContextObserverBehaviour.Update` is very slow"
**Describe the bug**

I just finished porting my game to Entitas Redux. It went better than expected! However, my game runs considerably slower. Running the profiler tells me that the cause is `ContextObserverBehavior.Update`.

**Unity Version:**

Unity 2021.3.1f1

**To Reproduce**

Run any scene that uses `ContextObserverBehaviour` and make sure to enable profiling.

**Expected behavior**

`Conte

[2022-05-12 21:04] JesseTG commented on #69
I was able to reproduce this on the built-in `VisualDebugging` sample, too.

[2022-05-13 02:26] JesseTG commented on #69
Ah! It turns out I'm leaking `ContextObserver`s. I noticed that the number of them is steadily increasing. The problem is actually with my own code. Whoops, my bad. Sorry for the confusion.

[2022-05-13 02:26] #69 closed, assigned to nobody

[2022-06-18 09:42] matthiashermsen commented on #68
I think this might be related to https://github.com/jeffcampbellmakesgames/Genesis/discussions/33 :)

[2022-09-25 12:29] ta-david-yu opened #70 "[FEATURE REQUEST] The ability to remove System from Systems."
**Is your feature request related to a problem? Please describe.**
The game I am trying to make is a party game. Each match will have at least 3 game flow states:
1. Intro/Countdown: Players are spawned at their initial locations but cannot move while the game is counting down a timer before the game starts.
2. Playing: Actual game state.
3. Ending: Play a short cutscene to show the winners.

Each